In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Longyearbyen,SJ,2020-05-06 05:20:39,78.22,15.64,32.00,94,75,16.11
1,1,Bredasdorp,ZA,2020-05-06 05:20:39,-34.53,20.04,57.20,87,2,3.36
2,2,Sorland,NO,2020-05-06 05:20:39,67.67,12.69,37.40,83,75,26.40
3,3,Hobart,AU,2020-05-06 05:19:15,-42.88,147.33,60.80,51,75,6.93
4,4,Paidha,UG,2020-05-06 05:20:39,2.42,30.99,65.25,89,98,3.04

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kamaishi,JP,2020-05-05 20:08:36,39.27,141.88,49.71,73,100,4.99
1,1,Albany,US,2020-05-05 20:05:02,42.60,-73.97,57.99,23,74,5.01
2,2,Busselton,AU,2020-05-05 20:08:37,-33.65,115.33,48.99,98,99,29.35
3,3,Bredasdorp,ZA,2020-05-05 20:08:37,-34.53,20.04,59.00,93,40,1.57
4,4,Kushalgarh,IN,2020-05-05 20:08:37,23.20,74.45,86.56,22,0,4.32

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [7]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [8]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [11]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp],
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of cloudiness
locations = city_data_df[["Lat","Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0,31.0), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of wind
locations = city_data_df[["Lat","Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0,31.0), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [20]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
6,6,Livramento,BR,2020-05-06 05:20:40,-3.03,-60.18,77.00,100,20,1.88
8,8,Auki,SB,2020-05-06 05:20:40,-8.77,160.70,84.49,65,82,3.31
15,15,Saint-Pierre,RE,2020-05-06 05:19:53,-21.34,55.48,80.60,65,40,4.70
17,17,Barentu,ER,2020-05-06 05:20:42,15.11,37.59,83.08,44,23,6.85
19,19,Zarand,IR,2020-05-06 05:20:42,30.81,56.56,77.68,18,65,8.10
20,20,Salalah,OM,2020-05-06 05:17:58,17.02,54.09,87.80,70,20,6.98
37,37,Puerto Ayora,EC,2020-05-06 05:20:45,-0.74,-90.35,77.00,93,15,1.99
40,40,Kijang,KR,2020-05-06 05:20:46,35.24,129.21,77.00,47,20,12.75
44,44,Avarua,CK,2020-05-06 05:20:46,-21.21,-159.78,77.00,94,47,2.24
45,45,Bandarbeyla,SO,2020-05-06 05:20:47,9.49,50.81,84.33,66,3,4.05

In [21]:
preferred_cities_df.count()

City_ID       146
City          146
Country       145
Date          146
Lat           146
Lng           146
Max Temp      146
Humidity      146
Cloudiness    146
Wind Speed    146
dtype: int64

In [29]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp    Lat     Lng Hotel Name
6     Livramento      BR     77.00  -3.03  -60.18
8           Auki      SB     84.49  -8.77  160.70
15  Saint-Pierre      RE     80.60 -21.34   55.48
17       Barentu      ER     83.08  15.11   37.59
19        Zarand      IR     77.68  30.81   56.56
20       Salalah      OM     87.80  17.02   54.09
37  Puerto Ayora      EC     77.00  -0.74  -90.35
40        Kijang      KR     77.00  35.24  129.21
44        Avarua      CK     77.00 -21.21 -159.78
45   Bandarbeyla      SO     84.33   9.49   50.81

In [51]:
# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": "48.8566, 2.3522"}
# Use base URL to search for hotels in Paris.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Make request and get the JSON data from the search.
hotels = requests.get(base_url, params=params).json()

In [53]:
len(hotels["results"])

20

In [34]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [35]:
hotel_df.head(10)

            City Country  Max Temp    Lat     Lng                  Hotel Name
6     Livramento      BR     77.00  -3.03  -60.18                  ArteNamata
8           Auki      SB     84.49  -8.77  160.70                  Auki Motel
15  Saint-Pierre      RE     80.60 -21.34   55.48               Lindsey Hôtel
17       Barentu      ER     83.08  15.11   37.59
19        Zarand      IR     77.68  30.81   56.56                    رشک علیا
20       Salalah      OM     87.80  17.02   54.09          HAMDAN PLAZA HOTEL
37  Puerto Ayora      EC     77.00  -0.74  -90.35   Finch Bay Galapagos Hotel
40        Kijang      KR     77.00  35.24  129.21  Brown Dot Gijang Yeonhwari
44        Avarua      CK     77.00 -21.21 -159.78                Paradise Inn
45   Bandarbeyla      SO     84.33   9.49   50.81          REER XOOSHLE GROUP

In [36]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [43]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [40]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [46]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [47]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))