# Import Dependencies

In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
import gmaps.datasets

# Import the API key.
from config import g_key

In [30]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

# Import Vacation Data

In [31]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/WeatherPy_vacation.csv")
city_data_df.head(10)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Niquelandia,BR,83.41,scattered clouds,-14.47,-48.46,Hotel Suinã
1,5,Yabrud,SY,86.00,overcast clouds,33.97,36.66,صالون مها حيدر - Salon Maha
2,11,Hermanus,ZA,77.00,clear sky,-34.42,19.23,Misty Waves Boutique Hotel
3,16,Bengkulu,ID,77.40,overcast clouds,-3.80,102.27,Grage Hotel Bengkulu
4,21,Victoria,HK,82.00,clear sky,22.29,114.16,Mini Hotel Central
5,22,Guebwiller,FR,82.40,overcast clouds,47.92,7.20,Le Saint-Barnabé | Hôtel et Spa Haut-Rhin
6,38,Sao Filipe,CV,75.20,overcast clouds,14.90,-24.50,Tortuga B&B
7,41,Chumphon,TH,78.15,overcast clouds,10.33,98.83,บ้านอิงน้ำ โฮมสเตย์
8,42,Arraial Do Cabo,BR,75.20,broken clouds,-22.97,-42.03,Pousada Porto Praia
9,45,Vilhena,BR,76.73,few clouds,-12.74,-60.15,Hotel Mirage

In [32]:
# city_hotel = city_data_df.groupby("City")["Hotel Name"].value_counts()

# city_hotel_df = pd.DataFrame(city_hotel)
# city_hotel_df.head(10)

# Filter four cities for itinerary

In [62]:
city_hotel_df = city_data_df.loc[(city_data_df["City"] == 'San Pedro') |\
                                 (city_data_df["City"] == 'Looc') |\
                                 (city_data_df["City"] == 'Dingle') |\
                                 (city_data_df["City"] == 'Sulucan')]
city_hotel_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
24,87,Dingle,PH,80.10,broken clouds,11.00,122.67,Camp Pasica
49,163,Looc,PH,82.56,scattered clouds,12.26,121.99,Cummings Highlands
91,263,San Pedro,PH,87.80,broken clouds,14.35,121.02,Palines Apartment and Guesthouse
128,405,Sulucan,PH,87.80,broken clouds,14.80,120.93,3Ds HOMEMADE SPECIALTIES

In [87]:
city_hotel_df_SP = city_data_df.loc[(city_data_df["City"] == 'San Pedro')]
city_hotel_df_Looc = city_data_df.loc[(city_data_df["City"] == 'Looc')]
city_hotel_df_Dingle =city_data_df.loc[(city_data_df["City"] == 'Dingle')]
city_hotel_df_Sulucan =city_data_df.loc[(city_data_df["City"] == 'Sulucan')]

In [112]:
location_SP = (float(city_hotel_df_SP["Lat"]), float(city_hotel_df_SP["Lng"]))
location_Looc = (city_hotel_df_Looc["Lat"].values[0], city_hotel_df_Looc["Lng"].values[0])
location_Dingle = (city_hotel_df_Dingle["Lat"].values[0], city_hotel_df_Dingle["Lng"].values[0])
location_Sulucan = (city_hotel_df_Sulucan["Lat"].values[0], city_hotel_df_Sulucan["Lng"].values[0])

In [144]:
location_SP

(14.35, 121.02)

# Travel Itinerary Map

In [134]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} {Max Temp}  °F</dd>
</dl>
"""

In [135]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in city_hotel_df.iterrows()]

In [143]:
# Add a itinerary for the vacation spots.
locations = city_hotel_df[["Lat", "Lng"]]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
                        
directions_layer = gmaps.directions_layer(location_SP, location_Sulucan, 
                                          waypoints=[location_Dingle,location_Looc],
                                          travel_mode ='DRIVING',
                                         show_markers = False)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(directions_layer)
fig.add_layer(marker_layer)


# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))